.center {
	text-align: center;
}

.inputcalcula {
	width: 20%;
	margin: 20px;
}

.res, .sel {
	margin: 20px;
}


#map {
        width: 90%;
        height: 500px;
        background-color: grey;
      }