.center {
	text-align: center;
}

.alinear {
	width: 60%;
	text-align: right;
	margin-left: 6%;
}

#myCarousel {
	width: 100%;
}

.card-body {
	margin-left: 40%;
	margin-right: 40%;
	margin-bottom: 40px;
	float: center;
	border: 1px solid green;
}

.nombreContacto {
	font-size: 1.5em;
}

.correoContacto {
	font-size: 1.3em;
}

.infoContacto {
	font-size: 1.1em;
	margin-bottom: 30px;
}

.inputcalcula {
	width: 20%;
	margin: 20px;
}

.botonesmapa {
	margin-right: 35px;
}


.res, .sel {
	margin: 20px;
}

.map{
	width: 90%;
	margin-left: 5%;
	margin-top: 30px;
}

#map {
    height: 500px;
    background-color: grey;
}

.lielem {
	margin-right: 100px;
}

.hiddenSection{
	display: none;
}